[submodule "Assets/Packages/WeSync"]
	path = Assets/Packages/WeSync
	url = https://github.com/nobnak/WeSync.git
[submodule "Assets/Packages/ModelDrivenGUI"]
	path = Assets/Packages/ModelDrivenGUI
	url = https://github.com/nobnak/ModelDrivenGUI.git
[submodule "Assets/Packages/WeSync-Examples"]
	path = Assets/Packages/WeSync-Examples
	url = https://github.com/nobnak/WeSync-Examples.git
[submodule "Assets/Packages/Gist"]
	path = Assets/Packages/Gist
	url = https://github.com/nobnak/Gist.git
