[submodule "Assets/Packages/WeSync"]
	path = Assets/Packages/WeSync
	url = https://github.com/nobnak/WeSync.git
[submodule "Assets/Packages/ModelDrivenGUI"]
	path = Assets/Packages/ModelDrivenGUI
	url = https://github.com/nobnak/ModelDrivenGUI.git
